@font-face {
  font-family: "Norse-Bold";
  src: url(resources/Norse-Bold.otf);
}

body{
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(resources/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  color: white;
  display: flex;
  flex-direction: column;
}


.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  font-weight: bold;
  font-size: 30px;
}

.first, .second, .third {
  height: 33vh;
}

.first {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
}

.second {
  background-color: white;
  height: 33vh;
  box-shadow: 5px 5px 5px #aaaaaa;
}
h2 {
  margin-left: 50px;
}

.form-main {
  display: flex;
  margin-left: 50px;
  width: 60%;
  justify-content: space-between;

}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

input {
  width: 200px;
  border: 1px solid #E5E7EB;
  height: 20px;
  border-radius: 5px;

}

input:focus {
  border: 1px solid blue;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 13px;
  color: #414141;
}

#error {
  color: red;
  font-size: 10px;
  margin: 1px;
}


.btn-green {
  background-color: #596D48;
  color: white;
  border: 1px solid #596D48;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-weight: bolder;
  font-size: small;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.third {
  margin-top: 25px;
  margin-left: 50px;
}

.already-reg {
  margin-top: 25px;
}

.already-reg p {
  font-size: 13px;
  
}

.already-reg p a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  margin-top: auto;
}

.footer a {
  color: white;
}

.footer p {
  font-size: 13px;
  text-align: center;

}

.semi-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);

}

.odin-image {
  font-family: "Norse-Bold";
  font-size: 40px;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.semi-transparent img {
  height: 130px;
}