body {
    margin: 0;
}


.background-image {
    float: left;
    background-image: url(resources/dalia-mu-jp5GsxfnREc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
}


.container {
    display: inline-block;
    width: 50%; 
    font-size: 16px;
    box-sizing: border-box;
  }
