@font-face {
  font-family: "Norse-Bold";
  src: url(resources/Norse-Bold.otf);
}

body{
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(resources/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  color: white;
  font-family: "Norse-Bold";
}


.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}